
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Poiret One', sans-serif;
}

a , h1 {
    font-family: 'Spirax', sans-serif;
}

/*  classes  */

section {
    height: 100vh;
    position: relative;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    right: 25%;
    left: 25%;
}


.section-title {
    font-size: 6rem;
    color: rgb(159, 3, 3);
    text-align: center;
    margin-bottom: 2rem;
}

.para-1 {
    background-color: rgb(159, 3, 3);
    opacity: .8;
    font-size: 1.5rem;
    padding: 1cap;
    color: #ffffff;
    width: 550px;
    margin-bottom: 2ch;
    text-align: center;
}

.para-2 {
    background-color: rgb(159, 3, 3);
    opacity: .8;
    font-size: 1.5rem;
    padding: 1cap;
    color: #ffffff;
    width: 630px;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 2rem;
}

ul {
    align-self: center;
    background-color: #000000;
    opacity: .8;
    width: 660px;
    padding: 1.3rem 3rem;
}

ul li {
    list-style: none;
    color: #ffffff;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator {
    width: 100%;
    height: 1rem;
    background-color: rgb(159, 3, 3);
}

/* header styling  */
header {
    background-color: #130010ea;
    opacity: .8;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.5rem;
    padding: 1rem 2.5rem;
}

/* Here i am going to add styling for the first section/hot  */
.hot-background {
    height: 100%;
    background-image: url("hot.jpg");
    background-size: cover;
    background-position: center;
}

/* Here i am going to add styling for the second section/juicy  */
.juicy-background {
    height: 100%;
    background-image: url("juicy.jpg");
    background-size: cover;
    background-position: center;
}

/* Here i am going to add styling for the third section for cosy  */
.cosy-background {
    height: 100%;
    background-image: url("cosy.jpg");
    background-size: cover;
    background-position: center;
}